* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#landing {
    height: 90vh; /* Full viewport height */
    display: flex; /* Enable flexbox for layout */
    align-items: flex-start; /* Align content to the top */
    justify-content: center; /* Center horizontally */
    padding-top: 50px; /* Adjust this value as needed */
    text-align: center; /* Center text */
}

@media (max-width: 1024px) { /* Medium screens and smaller */
    #landing {
        height: auto; /* Let the content determine the height */
        padding-top: 0; /* Remove padding-top if needed */
    }
}

#landing h3 {
	font-family: Montserrat;
	font-weight: 200;
	line-height: 32px;
	text-align: left;

	color: #dfdfdf;
}

#landing h2 {
	font-family: Montserrat;
	font-weight: 300;
	line-height: 32px;
	text-align: left;

	color: #dfdfdf;
}

#landing h4 {
	font-family: Montserrat;
	font-weight: 200;
	line-height: 32px;
	text-align: left;

	color: #ff0000;
}

#landing p {
	font-family: Montserrat;
	font-size: 26px;
	font-weight: 200;
	line-height: 26px;
	text-align: left;
	color: #dfdfdf;

	margin-bottom: 0;
}

#landing img {
	width: 350px;
	border: 3px solid #CD0000;
}

@media (max-width: 768px) {
    #text-title h2 {
        font-size: 1.5rem;
    }

    #text-title h4 {
        font-size: 1.2rem;
    }

    #text-title p {
        font-size: 1rem;
    }

    #landing img {
    	width:  300px;
    }
}

#projects h1 {
	font-family: Montserrat;
	font-weight: 900;
	line-height: 32px;
	text-align: left;

	color: #CD0000;
}

#tools h1 {
	font-family: Montserrat;
	font-weight: 900;
	line-height: 32px;
	text-align: left;

	color: #CD0000;
}

#tools h3 {
	font-family: Montserrat;
	font-weight: 900;
	line-height: 32px;
	text-align: left;

	color: #FFFFFF;
}

#contact h1 {
	font-family: Montserrat;
	font-weight: 900;
	line-height: 32px;
	text-align: left;
	color: #CD0000;
}

.fa-solid, .fa-brands {
	font-size: 30px;
	color: black;
	/* top right bottom left 	*/
	margin: 0 10px 0 10px;
}

.fa-solid:hover, .fa-brands:hover {
	color: red;
}

#message p {
	font-family: Montserrat;
	font-weight: 700;
	line-height: 32px;
	text-align: left;

	color: #FFFFFF;
}

#contact form label {
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 600;
	line-height: 24.38px;
	text-align: left;

	color: #FFFFFF;
}

#contact form textarea {
	background: #FFFFFF;
	font-family: Montserrat;
	font-size: 24px;
	font-weight: 600;
	line-height: 29.26px;
	align-items: center;
}

#contact .btn {
	padding: 8px 24px 8px 24px;
	gap: 8px;
	border-radius: 2px 0px 0px 0px;
	background: #CD0000;

	font-family: Montserrat;
	font-size: 16px;
	font-weight: 800;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
}

#card1 {
	width: 18rem;
}

#card2 {
	width: 18rem;
}

#card3 {
	width: 18rem;
}

footer {
	font-family: Montserrat;
	font-weight: 500;
	line-height: 24px;
	text-align: left;
	color: #FFFFFF;
}